samaj-darshan.com {
    redir https://www.samaj-darshan.com{uri} permanent
}

www.samaj-darshan.com {
    request_body {
        max_size 50MB
    }
    reverse_proxy web:80 {
        transport http {
            read_timeout 120s
            write_timeout 120s
        }
    }
}
