<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <style>
    * { box-sizing: border-box; margin: 0; padding: 0; }
    body {
      width: 540px;
      height: 720px;
      margin: 0;
      padding: 0;
      font-family: 'Noto Sans Devanagari', 'Noto Sans', Arial, Helvetica, sans-serif;
      overflow: hidden;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
